// todo-list.component.scss

.todo-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .list {
    width: 50%;
    justify-content: space-between;
    ul {
      list-style-type: none;
      padding: 0;
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        border-bottom: 1px solid #ccc;

        .id {
          width: 10%;
        }

        .title {
          width: 30%;
        }
        .modify{
                background-color: #007bb5;
        }
        .status {
          width: 30%;
            padding: 5px 10px;
            font-size: 14px;
            cursor: pointer;
            margin-left: 5px;
            background-color: #f44336;
            color: white;
            border: none;
            border-radius: 4px;
            transition: background-color 0.3s;
  
            &:hover {
              background-color: #d32f2f;
            }
  
            &:first-child {
              background-color: #008cba;
  
              &:hover {
                background-color: #007bb5;
              }
            
          }
        }

        .delete {
          width: 30%;

          width: 30%;
          padding: 5px 10px;
          font-size: 14px;
          cursor: pointer;
          margin-left: 5px;
          background-color: #913bec;
          color: white;
          border: none;
          border-radius: 4px;
          transition: background-color 0.3s;

          &:hover {
            background-color: #913bec;
          }

          &:first-child {
            background-color: #913bec;


            &:hover {
            background-color: #913bec;

            }
          
        }
        }

        &:last-child {
          border-bottom: none;
        }

        span {
          &.completed {
            text-decoration: line-through;
            color: gray;
          }
        }


      }
    }
  }
}
