<!-- todo-list.component.html -->

<div class="todo-list">
  <div class="mainTitle" *ngIf="todos.length">
    <h3>ToDo List</h3>
  </div>

  <div class="list">
    <ul>
      <li *ngFor="let todo of todos.reverse(); let i = index">
        <span class="id">{{ i + 1 }}</span>
        <span
          *ngIf="!todo.isEditing"
          class="title"
          [class.completed]="todo.completed"
          >{{ todo.title }}</span
        >
        <input
          *ngIf="todo.isEditing"
          class="title"
          type="text"
          [(ngModel)]="todo.title"
        />
        <button
          *ngIf="!todo.isEditing"
          class="modify btn btn-primary"
          (click)="modify(todo)"
        >
        <span>
          Modify
        </span>
          
        </button>
        <button
          *ngIf="todo.isEditing"
          class="update btn btn-primary"
          (click)="updateTodo(todo)"
        >
          <span>
            Update
          </span>
        </button>
        <button
          class="status btn btn-primary"
          [ngStyle]="{ 'background-color': todo.completed ? 'red' : 'green' }"
          (click)="toggleCompletion(todo)"
        >
          <span>{{ todo.completed ? "Incomplete" : "Complete" }}</span>
        </button>
        <button class="delete" (click)="deleteTodo(todo.id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</div>


